<ul>
<h3>Almost gems.</h3>
  <% @videos.each do |video| %>
    <li><%= raw youtube_embed(video.video_link) %>
    <% if current_user && current_user.votes.where(:video_id => video.id, :up => true).present? %></li>
      *
    <% else %>  	
      <%= link_to "+", votes_path(:vote =>{:video_id => video.id, :up => true}), :method => "post"%>
    <% end %>  
   
    <% if current_user && current_user.votes.where(:video_id => video.id, :up => false).present? %>
      *
    <% else %>     
      <%= link_to "-", votes_path(:vote => {:video_id => video.id, :up => false}), :method => "post" %>
    <% end %>
  <% end %>    
</ul>