<h3>Almost gems.</h3>
  <% @videos.each do |video| %>
    <%= raw youtube_embed(video.video_link) %>
    <% if current_user && current_user.votes.where(:voteable_id => video.id, :vote => true).present? %>
      *
    <% else %>  	
      <%= link_to "+", vote_for_video_video_path(video), :method => "post", :remote => true %>
    <% end %>  
   
    <% if current_user && current_user.votes.where(:voteable_id => video.id, :vote => false).present? %>
      *
    <% else %>     
      <%= link_to "-", vote_against_video_video_path(video), :method => "post", :remote => true %>
    <% end %>
  <% end %>    
