<h1>Listing Videos</h1>

<table>
<% @video.each do |video| %>
  <tr class="">
    <td>
      <%= "#{video.artist}: #{video.song}" %>
      <%= link_to 'Destroy', video, method: :delete,
                  data: { confirm: 'Are you sure?' } %>    
    </td>
  </tr>
<% end %>
</table>








